<div id="graph">
    <div class="show-hide-toggle">
        <a href="javascript:;" onclick="fold('#graph');">
        <i class=icon-caret-down></i></a>
        <hr/>
    </div>
    <div class="hide">
        <h3>User Engagement Over Timeline</h3>   
    <div id="events">
        <h4 id="events-label">Events Over Timeline</h4>
        <table>
            <tr onclick="ToggleEvent('A', 101);">
                <td class="date">05-25-2012</td>
                <td>10 week Challenge started for Program 2</td>
                <td class="event-key">A</td>
            </tr>
            <tr onclick="ToggleEvent('B', 102);">
                <td class="date">07-20-2012</td>
                <td>4 week Challenge started for Program 1</td>
                <td class="event-key">B</td>
            </tr>
            <tr onclick="ToggleEvent('C', 101);">
            <td class="date">08-3-2012</td>
            <td>10 week Challenge ended for Program 2</td>
            <td class="event-key">C</td>
            </tr>
            <tr onclick="ToggleEvent('D', 103);">
                <td class="date">08-11-2012</td>
                <td>Division ABC of company WXY started signing up on Program 2</td>
                <td class="event-key">D</td>
            </tr>
            <tr onclick="ToggleEvent('E', 102);">
                <td class="date">08-31-2012</td>
                <td>4 week Challenge ended for Program 1</td>
                <td class="event-key">E</td>
            </tr>
            <tr onclick="ToggleEvent('F', 104);">
                <td class="date">10-01-2012</td>
                <td>8 week Challenge started for Program 3</td>
                <td class="event-key">F</td>
            </tr>
            <tr onclick="ToggleEvent('G', 105);">
                <td class="date">10-27-2012</td>
                <td>10 week Challenge started for Program 4</td>
                <td class="event-key">G</td>
            </tr>
            <tr onclick="ToggleEvent('H', 104);">
                <td class="date">11-26-2012</td>
                <td>8 week Challenge started for Program 3</td>
                <td class="event-key">H</td>
            </tr>
            <tr onclick="ToggleEvent('I', 105);"> 
                <td class="date">01-5-2013</td>
                <td>10 week Challenge ended for Program 4 </td>
                <td class="event-key">I</td>
            </tr>
        </table>
    </div>
    <div id="graph-key">
        <ul>
            <li data-toggle="tooltip" title="Used on five or more days">
                <a href="javascript:;" onclick="ToggleGraph(this, 'Pedometer', 0);">
                    <div class="key-circle pedometer"></div>Pedometer<i class="icon-ok"></i>
                </a>
            </li>            
            <li data-toggle="tooltip" title="Logged in on four or more days">
                <a href="javascript:;" onclick="ToggleGraph(this, 'Logins', 1);">
                    <div class="key-circle login"></div>Logins<i class="icon-ok"></i>
                </a>
            </li>
            
            <li data-toggle="tooltip" title="Answered three or more coach questions">
                <a href="javascript:;" onclick="ToggleGraph(this, 'Questions', 2);"> 
                    <div class="key-circle question"></div>Questions<i class="icon-ok"></i>
                </a>
            </li>
            <li data-toggle="tooltip" title="Logged in over the weekend">
                <a href="javascript:;" onclick="ToggleGraph(this, 'Weekend-Logins', 3);">
                    <div class="key-circle weekend"></div>Weekend Logins<i class="icon-ok"></i>
                </a>
            </li>            
            <li data-toggle="tooltip" title="Users who reported on self tracker">
                <a href="javascript:;" onclick="ToggleGraph(this, 'Self-Tracking', 4);">
                    <div class="key-circle tracker"></div>Self Tracking<i class="icon-ok"></i>
                </a>
            </li>
        </ul>
    </div>
    </div>
</div>